
 body
{
height: auto;
margin:  0;
padding: 0;
}
.main
{
  /* background-color: #8B0000; */
padding-top: 10%;
padding-bottom: 10%;
}
  /* Remove the navbar's default margin-bottom and rounded borders */
.navbar
{
  margin-bottom: 0;

}

/* Set black background color, white text and some padding */
footer
{
  background-color: #8B0000;
  color: white;
  padding: 15px;
  bottom: 0;
  margin-bottom: 0%;
  width: 100%;
  position: fixed;

}
